@media (max-width: 1024px) {

    @import 'var'; 

    body {

        .center {
            padding-left: calc(50% - 393px);
            padding-right: calc(50% - 393px);
        }
    }

    .about-games {

        &__box {
            display: flex;
            align-items: flex-start;
        }

        &__box1 {
            flex-wrap: wrap;
            gap: 16px 28px;
        }

        &__box2 {
            flex-wrap: wrap;
            gap: 16px 28px;
        }
    }
}